<section class="admin-dashboard-show">
<h1>Admin &raquo; Dashboard</h1>

<h3>Products In Stock: <a href="/admin/products"><span class="label label-info"><%= @products %></span></a></h3>
<h3>Product Categories: <a href="/admin/categories"><span class="label label-info"><%= @categories %></span></a></h3>

</section>
